@media (max-width: 1250px) {
    .sidebarChat {
        .addChat {
            font-size: 22px;
        }
    }
}
@media (max-width: 1150px) {
    .sidebarChat {
        .addChat {
            font-size: 20px;
        }
    }
}

@media (max-width: 940px) {
    .chat__header {
        padding: 20px;
    }
    .chat__headerInfo p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .pin__toTop {
        display: none;
    }
    .choose__chat {
        flex: 1;
    }
    .sidebarChat {
        .pin__toTop {
            visibility: hidden !important;
        }
        justify-content: center;
        &__info {
            display: none;
        }
        & .room__name {
            display: none;
        }
        & .addChat {
            display: none;
        }
        & svg {
            display: block !important;
        }
    }
    .chat__header {
        padding: 16px 16px 17px 16px;
    }
    .sidebar {
        flex: 0;
        width: 200px;
        &__headerRight {
            justify-content: center;
        }
        &__headerRight button {
            display: none;
        }
        &__header {
            padding-bottom: 40px;
            justify-content: center !important;
            flex-direction: column;
            align-items: center;
            .exit {
                display: block !important;
                padding: 20px 0;
            }
        }

        &__search {
            display: none;
        }
    }
    .chat {
        flex: 1;
        &__headerRight {
            display: none;
        }
    }
}

@media (max-width: 520px) {
    .chat__headerInfo p {
        font-size: 12px;
    }
    .chat__header {
        padding: 18px 18px 18px 18px;
    }
    .login__container {
        padding: 50px;
        .MuiButton-label {
            font-size: 12px;
        }
    }
}
@media (max-width: 480px) {
    .chat__header {
        padding: 20px 20px 20px 20px;
    }
    .mic_icon {
        display: block !important;
    }
    .send_mes {
        display: block !important;
    }
    .chat__headerInfo {
        p {
            font-size: 9px;
        }
    }
    .emotio {
        display: none !important;
    }
    .sidebar {
        width: 0;
        max-height: 90%;
        position: absolute;
        z-index: 100;
        background-color: white;
        &__header {
            visibility: hidden;
        }
    }
    .menu {
        display: block !important;
    }

    .close {
        transition: all 0.2s linear;
        height: 90%;
    }
    .emoji-picker-react {
        right: 10px;
    }

    .open {
        width: 90%;
        height: 90%;
        transition: all 0.2s linear;
        .close-icon {
            display: block !important;
        }
        .sidebar__header {
            visibility: visible;
        }
        .sidebar {
            flex: 0;

            .plus__icon {
                justify-content: center;
            }
            &Chat.rooms {
                justify-content: flex-start;
            }
            &Chat__info {
                display: block !important;
            }
            & h2 {
                display: block;
            }
            &__headerRight {
                justify-content: space-between;
            }
            &__headerRight button {
                display: block;
            }
            &__header {
                display: flex;
                padding-bottom: 20px;
                justify-content: space-between !important;
                flex-direction: row;
                align-items: center;
                .exit {
                    display: block !important;
                    padding: 12px;
                }
            }

            &__search {
                display: block;
            }
        }
    }
}
