.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    flex: 1;
    background-image: url("https://i.pinimg.com/originals/8f/ba/cb/8fbacbd464e996966eb9d4a6b7a9c21e.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: scroll;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
    word-break: break-all;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__reciever {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 53px;
    border-top: 1px solid lightgray;
    padding: 0 5px;
}

.chat__footer > form {
    flex: 1;
    display: flex;
    align-items: center;
}
.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    outline: none;
    border: none;
    height: 30px;
    padding-left: 10px;
}

.chat__footer button {
    border: none;
    outline: none;
}

.chat__footer .MuiSvgIcon-root {
    color: gray;
}
