.login {
    &__container {
        padding: 100px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        img {
            object-fit: contain;
            height: 100px;
            margin-bottom: 40px;
        }
        button {
            margin-top: 50px;
            color: #fff;
            background-color: #0a8d48;
            &:hover {
                background-color: #0a8d48;
            }
        }
    }
}

.auth__wrapper {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.auth-form {
    padding: 0 15px;
    width: 340px;
    margin: 0 auto;
    img {
        display: block;
    }
    &-header {
        margin-bottom: 15px;
        color: #333;
        text-align: center;
        text-shadow: none;
        background-color: initial;
        border: 0;
        h1 {
            font-size: 30px;
            font-weight: 300;
            letter-spacing: -0.5px;
        }
    }
    &-body {
        border-top: 1px solid #d8dee2;
        border-radius: 5px;
        padding: 20px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #d8dee2;
        margin-top: 16px;
        .input-block {
            margin-top: 5px;
            margin-bottom: 15px;
            display: block;
            width: 90%;
        }
        .form-control {
            padding: 5px 14px;
            font-size: 14px;
            line-height: 20px;
            color: #24292e;
            vertical-align: middle;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: right 8px center;
            border: 1px solid #e1e4e8;
            border-radius: 6px;
            outline: none;
            box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
            &:focus {
                border-color: #0366d6;
                outline: none;
                box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
            }
        }
        .btn-block {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        .btn {
            position: relative;
            display: inline-block;
            padding: 7px 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid;
            border-radius: 6px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .btn-primary {
            color: #fff;
            background-color: #2ea44f;
            border-color: rgba(27, 31, 35, 0.15);
            box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
            &:hover {
                background-color: #2c974b;
            }
            &:focus {
                outline: 1px dotted transparent;
                outline-offset: 2px;
                box-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
            }
        }
        .btn-google {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            background-color: #fff;
            border-color: rgba(27, 31, 35, 0.15);
            box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
            padding-left: 46px;
            &:focus {
                outline: 1px dotted transparent;
                outline-offset: 2px;
                box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.4);
            }
            img {
                position: absolute;
                height: 22px;
                left: 16px;
                padding: 7px 16px 7px 5px;
                margin-right: 20px;
                border-right: 1px solid lightgray;
            }
        }
    }
    label {
        display: block;
        margin-bottom: 7px;
        text-align: left;
        font-weight: 600;
    }
}

.auth_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    img {
        width: 150px;
        height: 150px;
    }
}

.create-account-callout {
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin-top: 16px;
    a {
        color: #0366d6;
        text-decoration: none;
        margin-left: 5px;
    }
}
