.login {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    &__container {
        padding: 100px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        img {
            object-fit: contain;
            height: 100px;
            margin-bottom: 40px;
        }
        button {
            margin-top: 50px;
            color: #fff;
            background-color: #0a8d48;
            &:hover {
                background-color: #0a8d48;
            }
        }
    }
}

@media (max-width: 1250px) {
    .sidebarChat {
        h2 {
            font-size: 22px;
        }
    }
}
@media (max-width: 1150px) {
    .sidebarChat {
        h2 {
            font-size: 20px;
        }
    }
}

@media (max-width: 940px) {
    .chat__header {
        padding: 20px;
    }
    .chat__headerInfo p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .sidebarChat {
        justify-content: center;
        &__info {
            display: none;
        }
        & h2 {
            display: none;
        }
        & svg {
            display: block;
        }
    }
    .chat__header {
        padding: 16px 16px 17px 16px;
    }
    .sidebar {
        flex: 0;
        width: 200px;
        &__headerRight {
            display: none;
        }
        &__search {
            display: none;
        }
    }
    .chat {
        flex: 1;
        &__headerRight {
            display: none;
        }
    }
}

@media (max-width: 520px) {
    .chat__headerInfo p {
        font-size: 12px;
    }
    .chat__header {
        padding: 18px 18px 18px 18px;
    }
    .login__container {
        padding: 50px;
        .MuiButton-label {
            font-size: 12px;
        }
    }
}
@media (max-width: 480px) {
    .chat__header {
        padding: 20px 20px 20px 20px;
    }
    .mic_icon {
        display: none !important;
    }
    .chat__headerInfo {
        p {
            font-size: 9px;
        }
    }
    .emotio {
        display: none !important;
    }
}
