.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    &:hover {
        background-color: rgb(219, 219, 219);
    }
    &__info > h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    &__info {
        margin-left: 15px;
    }
    svg {
        display: none;
    }
}

.old__message {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
}

.activeLink div {
    background-color: lightgray;
}
