.pin__toTop {
    visibility: hidden;
    padding: 8px;
    margin-left: auto;
}

.pinned {
    visibility: visible !important;
}

.activeLink .pin__toTop:hover {
    background-color: rgba($color: #fff, $alpha: 0.4) !important;
}

.sidebarChat {
    justify-content: flex-start;

    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
        .pin__toTop {
            visibility: visible;
            &:hover {
                background-color: #0984e3;
                border-radius: 4px;
            }
        }
    }
    &__info > h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    &__info {
        margin-left: 15px;
    }
    .addChatIcon {
        display: none;
    }
    svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.old__message {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
}

.activeLink .rooms {
    background-color: #0984e3;
    color: #fff;
}
