.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
    }
    &__info > h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    &__info {
        margin-left: 15px;
    }
    .addChatIcon {
        display: none;
    }
    svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.old__message {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
}

.activeLink .rooms {
    background-color: #0984e3;
    color: #fff;
}
